/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Comfortaa";
  color: #fff;
  font-weight: 400;
  background-color: #342B28;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 38px;
  color: #F0B731;
  font-weight: 700;
}

.header {
  background-image: linear-gradient(90deg, #342B28 18.26%, rgba(52, 43, 40, 0) 57.53%), linear-gradient(180deg, #342B28 9.38%, rgba(51, 39, 35, 0.57) 53.12%, #342B28 92.19%), url(../img/bg-image.jpg);
  background-position: center;
  min-height: 860px;
}
.header__nav {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.header__nav-mobile {
  position: fixed;
  background: red;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav-mobile .menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.header__nav-mobile .header__logo {
  margin-left: 70px;
}
.header__offer {
  margin-top: 310px;
  width: 675px;
}
.header__title {
  font-size: 50px;
  color: #F0B731;
}
.header__desc {
  width: 420px;
  font-size: 22px;
  margin-top: 60px;
}
.header__item-row {
  display: flex;
  margin-top: 130px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.menu {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media (max-width: 992px) {
  .menu {
    display: none;
  }
}
.menu__link {
  color: #fff;
  position: relative;
}
.menu__link::after {
  position: absolute;
  content: "";
  width: 70px;
  bottom: -10px;
  left: calc(50% - 35px);
  background-color: #F0B731;
  height: 5px;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
}
.menu__link:hover::after {
  opacity: 1;
}

.burger {
  position: fixed;
  width: 40px;
  height: 50px;
  cursor: pointer;
  display: none;
  top: 20px;
  right: 20px;
}
@media (max-width: 992px) {
  .burger {
    display: block;
  }
}
.burger span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: calc(50% - 2px);
  border-radius: 20px;
  transition: 0.3s;
}
.burger span:first-child {
  transform: translateY(15px);
}
.burger span:last-child {
  transform: translateY(-15px);
}
.burger.active span:first-child {
  transform: translateY(0) rotate(45deg);
}
.burger.active span:last-child {
  transform: translateY(0) rotate(-45deg);
}
.burger.active span {
  transform: scale(0);
}

.advantages {
  padding-top: 50px;
}
.advantages__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.advantages__col {
  flex: 0 1 50%;
  padding-top: 35px;
  padding-bottom: 50px;
}
.advantages__col:nth-child(1) {
  border-right: 1px dashed #5C4D48;
  border-bottom: 1px dashed #5C4D48;
}
.advantages__col:nth-child(2) {
  border-bottom: 1px dashed #5C4D48;
  padding-left: 20px;
}
.advantages__col:nth-child(3) {
  border-right: 1px dashed #5C4D48;
}
.advantages__col:nth-child(4) {
  padding-left: 20px;
}
.advantages__title {
  font-size: 20px;
  color: #F0B731;
  margin: 26px 0;
}
.advantages__text {
  width: 430px;
  font-size: 16px;
  font-weight: 400;
}

.apartment {
  margin-top: 200px;
  padding-bottom: 100px;
}
.apartment__title {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px dashed #5C4D48;
}
.apartment__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}
.apartment__card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.apartment__card img {
  transition: 0.5s;
}
.apartment__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, #342B28 10.42%, rgba(92, 77, 72, 0) 100%);
}
.apartment__card::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #F0B731;
  opacity: 0;
  transition: 0.5s;
}
.apartment__card:hover::after {
  opacity: 1;
}
.apartment__card:hover img {
  transform: scale(1.1);
}
.apartment__box {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.apartment__head {
  font-size: 28px;
  color: #F0B731;
}
.apartment__text {
  font-size: 20px;
  font-weight: 700;
}
.apartment__square {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.show-rooms {
  background-image: linear-gradient(180deg, #342B28 9.38%, rgba(51, 39, 35, 0.75) 53.12%, #342B28 92.19%), url(../img/bg-show.jpg);
  min-height: 500px;
  padding-top: 140px;
}
.show-rooms__row {
  display: flex;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
.show-rooms__col * + * {
  margin-top: 20px;
}
.show-rooms__title {
  margin-bottom: 80px;
}
.show-rooms__field {
  width: 570px;
  height: 50px;
  background-color: #92807A;
  text-align: center;
}
.show-rooms__field::-moz-placeholder {
  color: #ECC75A;
  font-size: 20px;
}
.show-rooms__field::placeholder {
  color: #ECC75A;
  font-size: 20px;
}
.show-rooms__btn {
  width: 100%;
  background-color: #F0B731;
  height: 50px;
  color: #11161F;
  font-weight: 400;
  font-size: 20px;
}

.about__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about__col:nth-child(1) {
  margin-right: 30px;
}
.about__text {
  margin-top: 60px;
}
.about__video {
  position: relative;
  display: block;
}
.about__video::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}
.about__video:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.about__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.about__btn-play:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.map {
  padding-bottom: 80px;
}
.map__title {
  width: 100%;
  border-bottom: 1px dashed #5C4D48;
  padding-bottom: 50px;
}
.map__img {
  margin-top: 60px;
}

.footer {
  background-color: #2D2522;
  min-height: 230px;
  display: flex;
  align-items: center;
}
.footer__row {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.footer__col {
  line-height: 35px;
}
.footer__link {
  color: #fff;
  line-height: 35px;
}
.footer__social {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */