.map {

    padding-bottom: 80px;

    &__title {
        width: 100%;
        border-bottom: 1px dashed #5C4D48;
        padding-bottom: 50px;
    }

    &__img {
        margin-top: 60px;
    }
}
