.show-rooms {

    background-image: linear-gradient(180deg, #342B28 9.38%, rgba(51, 39, 35, 0.75) 53.12%, #342B28 92.19%),
    url(../img/bg-show.jpg);
    object-fit: cover;
    min-height: 500px;
    padding: 140px 0;

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        grid-gap: 75px;
    }

    &__col * + * {
        margin-top: 20px;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__text {
    }

    &__field {
        width: 100%;
        height: 50px;
        background-color: #92807A;
        text-align: center;

        &::placeholder{
            color: #ECC75A;
            font-size: 20px;
        }
    }

    &__btn {
        width: 100%;
        background-color: $color-1;
        height: 50px;
        color: #11161F;
        font-weight: 400;
        font-size: 20px;
    }
}
