@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

body{
    font-family: $ff1;
    color: $color-3;
    font-weight: 400;
    background-color: $color-2;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-size: 38px;
    color: $color-1;
    font-weight: 700;
}